{
    "presets": [
        ["@babel/react",
        {
            "pragma": "h"
        }],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
