.toastWrapper {
  position: relative;
  min-width: 120px;
  max-width: 264px;
  height: 100%;
  border-radius: 4px;
  background-color: #222222;
  border-left-style: solid;
  border-left-width: 4px;
  text-align: left;
}

.infoToast {
  border-left-color: #01ACCD;
}

.successToast {
  border-left-color: #009E48;
}

.warnToast {
  border-left-color: #F9A71B;
}

.errorToast {
  border-left-color: #E7585D;
}

.closeButton {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  object-fit: contain;
  background-repeat: no-repeat;
  border: none;
  background-image: url("./assets/close.svg");

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #cccccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 4px;
  padding-right: 16px;
  padding-left: 12px;
}

.toastBody {
  position: relative;
  width: 100%;
  padding: 2px 16px 5px 12px;
}

.iconContainer {
  position: relative;
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 7px;
}

.iconWrapper {
  height: 16px;
  width: 16px;
}

.text {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #cccccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

