.icon-menu {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('./assets/more.svg');
    &:hover,
    &:focus {
      opacity: 1;
    }
}

.icon-menu-item {
  opacity: 0.8;
  &:focus {
    opacity: 1;
    background-color: #333333;
  }
  &:hover {
    opacity: 1;
    background-color: #666666;
  }
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 1px;
  padding: 0 8px;
  min-width: 228px;
  border-radius: 4px;
  background-color: #222222;
  .item-label {
    margin-left: 2px;
    font-size: 15px;
  }
}
